footer.page-footer
    .footer-copyright
        .container
            a.github-button(href="https://github.com/planethouki/nem2-helper-web" data-size="large" data-show-count="true" aria-label="Star planethouki/nem2-helper-web on GitHub") Star
