nav
    .nav-wrapper.container
        a.brand-logo(href="/") nem2-helper
        ul#nav-mobile.right.hide-on-med-and-down
            li
                a(href="/") Top
            li
                a(href="/namespace") NS & Mosaic