header
    nav
        .nav-wrapper.container
            a.brand-logo(href="/")
                span.hide-on-small-only nem2-
                span helper
            a.sidenav-trigger(data-target="mobile-nav" href="#")
                i.material-icons menu
            ul.right.hide-on-med-and-down
                li
                    a(href="/") Account
                li
                    a(href="/namespace") NS & Mosaic
                li
                    a(href="/transaction") Transaction
                li
                    a(href="/miscellaneous") Miscellaneous
                li
                    a(href="/network") Network
            ul#mobile-nav.sidenav
                li
                    a(href="/") Account
                li
                    a(href="/namespace") NS & Mosaic
                li
                    a(href="/transaction") Transaction
                li
                    a(href="/miscellaneous") Miscellaneous
                li
                    a(href="/network") Network