doctype html
html
  head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#')
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
    title nem2-block
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic')
    link(rel='stylesheet' href='https://rawgit.com/outboxcraft/beauter/master/beauter.min.css')
    link(rel='stylesheet' type="text/css" href='stylesheets/tabulator_bootstrap.min.css')
    link(rel='stylesheet' type="text/css" href='stylesheets/pagination.css')
    link(rel='stylesheet' type="text/css" href='stylesheets/style.css')
  body
    block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://rawgit.com/outboxcraft/beauter/master/beauter.min.js")
    script(src="https://unpkg.com/tabulator-tables@4.1.1/dist/js/tabulator.min.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="javascripts/pagination.min.js")
    script(src="javascripts/common.js")
    block script