extends layout

block content
    include _header
    main.container#app
        h4 #{ title }
        .row#o
            .col.s12
                h5.header UInt64 To
        .row#p
            .col.s12
                h5.header Catapult Timestamp to UTC
        .row#u
            .col.s12
                h5.header Hex Message Decode
    include _footer

block script
    script(src="javascripts/miscellaneous.js")
