extends layout

block content
    include _header
    main.container#app
        h4 #{ title }
        .row
            .col.s12
                .input-field
                    select(v-model="endpointSelection")
                        option(v-for="ep in endpoints" :key="ep.name" :value="ep.name") {{ ep.label }}
                    label Endpoint
        .row#s
            .col.s12
                h5.header Balance
                .input-field
                    input#s-address.validate(type="text" v-model:value="s_address" ref="s_focus")
                    label(for="s-address") Address
                div {{ s_mosaics }}
                div.right-align(v-if="!s_address")
                    button.waves-effect.waves-light.btn(v-on:click="s_sample") sample
        .row#q
            .col.s12
                h5.header Your Namespace List &nbsp;
                    small (max 10)
                .input-field
                    input#q-address.validate(type="text" v-model:value="q_address" ref="q_focus")
                    label(for="q-address") Address
                div {{ q_namespaces }}
                div.right-align(v-if="!q_address")
                    button.waves-effect.waves-light.btn(v-on:click="q_sample") sample
        .row#r
            .col.s12
                h5.header Namespace attached Mosaic List &nbsp;
                    small (max 10)
                .input-field
                    input#r-namespace.validate(type="text" v-model:value="r_namespace" ref="r_focus")
                    label(for="r-namespace") Namespace
                div {{ r_mosaics }}
                div.right-align(v-if="!r_namespace")
                    button.waves-effect.waves-light.btn(v-on:click="r_sample") sample
        .row#t
            .col.s12
                h5.header Multisig Graph
                .input-field
                    input#t-address.validate(type="text" v-model:value="t_address" ref="t_focus")
                    label(for="t-address") Address
                div {{ t_multisig_graph }}
                div.right-align(v-if="!t_address")
                    button.waves-effect.waves-light.btn(v-on:click="t_sample") sample
    include _footer

block script
    script(src="javascripts/network.js")
